@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 22px;
}
body{
    background-color: #353b48;
    padding: 1rem;
}
.box{
    height: 8rem;
    border: 5px solid white;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: 0.5s;
    transform-origin: top;
}
.box img:hover{
    transform: scale(1.5);
    transition: 0.5s;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
}
.control{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto ;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-group button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #00b894;
    color: #fff;
    font-size: 0.7 rem;
    border: 2px solid #00b894;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px ;
}
.btn-group button:hover,.btn-group .btn-clicked{
    background-color: #353b48;
}
#search{
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #00b894;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 0.6 rem;
}